<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>765327899908-5fovfu5j177t3m33nhm366f01cdguikp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.765327899908-5fovfu5j177t3m33nhm366f01cdguikp</string>
	<key>API_KEY</key>
	<string>AIzaSyDsVsEZy0EwujbQLct-twmwWqI1MWwDSGg</string>
	<key>GCM_SENDER_ID</key>
	<string>765327899908</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>scsvmv.socialLogin</string>
	<key>PROJECT_ID</key>
	<string>signin-c1fe4</string>
	<key>STORAGE_BUCKET</key>
	<string>signin-c1fe4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:765327899908:ios:8e20f73bd11f1d4e</string>
	<key>DATABASE_URL</key>
	<string>https://signin-c1fe4.firebaseio.com</string>
</dict>
</plist>